<article class="userList">
  <shared-search-bar
    placeholder="Search by name"
    (onValue)="searchByName($event)"
    class="userList__search"
  ></shared-search-bar>

  <ng-template #loading>
    <shared-loader></shared-loader>
  </ng-template>

  <main *ngIf="results; else loading" class="userList__list">
    <div *ngFor="let user of results" class="userList__list__item">
      <shared-user-card [user]="user"></shared-user-card>
    </div>

    <ng-container *ngIf="results.length === 0">
      <h1 class="userList__list__empty">No results found</h1>
    </ng-container>
  </main>
</article>
